/* Navigation Bar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
nav li {
    float: left;
    border-right: 1px solid #bbb;
}
  
nav li:last-child {
    border-right: none;
}
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav li a:hover:not(.active) {
    background-color: #111;
}
  
.active {
    background-color: #04AA6D;
}

body{
    background-color: aquamarine;
    align-items: center;
}


label, input {
    display: block;
}

input{
    size: "32";
}

div{
    display: flex;
    justify-content: center;
}

h1{
    text-align: center;
}

label {
    margin-bottom: 20px;
    /* text-align: center; */
    align-items: center;
}

.btn {
    font-size: 20px;
}